.title-h3 {
  font-size: 1.2em;
  margin-right: 35px;
}

main {
  width: 100%;
}

table th:nth-child(1) {
  padding: 0;
  text-align: center;
  border: 0;
  background-color: #1c0c3f;
}

table th {
  border: 3px double white;
  background-color: rgb(67, 51, 118);
  padding: 3px;
}

table tr td {
  border: 3px double white;
  background-color: rgb(67, 51, 118);
  padding: 7px;
  text-align: center;
}

section {
  padding: 0 10px 0 10px;
}

@media screen and (min-width: 992px){
  table th:nth-child(1) {
    padding: 0;
    text-align: center;
    border: 0;
  }

  
  table {
    width: 75%;
    margin:auto
  }
  
  table th {
    border: 2px double white;
    padding: 5px;
    border-radius: 7px;
  }
  
  table tr td {
    border: 2px double white;
    padding: 5px;
    text-align: center;
    border-radius: 7px;
  }
  
  main {
    margin: 25px 0px 25px 0px;
  }

}